<!doctype html>
<html>
<head>
    <title>Status Monitor</title>
    <style>
        .state.state-ok {
            color: darkgreen;
        }

        .state.state-fail {
            color: red;
        }
    </style>
</head>
<body>

<div>
    <p class="tentacle"></p>
    <table style="width:100%">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Servicename</th>
        </tr>
        </thead>
        <tbody class="service-state-row">
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io("127.0.0.1:3001");

    function getReadableState(jsonMsg) {
        return jsonMsg.status.toLowerCase() === 'online' ? 'OK' : 'FAIL';
    }
    function setStatusClass(jsonMsg, $statusCell) {
        if (jsonMsg.status.toLowerCase() === 'online') {
            $statusCell.removeClass('state-fail').addClass('state-ok');
        } else {
            $statusCell.removeClass('state-ok').addClass('state-fail');
        }
    }
    socket.on('status changed', function (msg) {
        var jsonMsg = JSON.parse(msg);
        var id = jsonMsg.prefix.split('/').join('');
        var $tentacleStatusElement = $('#' + id);
        var $statusCell;
        if ($tentacleStatusElement.length !== 0) {
            $statusCell = $tentacleStatusElement.find('.state');
        } else {
            var $nameCell = $('<td/>').text(id);
            var $statusRow = $('<tr/>').attr("id", id);
            $statusCell = $('<td/>').addClass('state');
            $statusRow.append($statusCell).append($nameCell);
            $('.service-state-row').append($statusRow);
        }
        $statusCell.text(getReadableState(jsonMsg));
        setStatusClass(jsonMsg, $statusCell);
    });
</script>
</body>
</html>